.rs{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.card {
  
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-top: 10%;
    width: 20rem;
}