.qColor
{
    color: #DE3163;
}

.rColor
{
   color: #00FF00;

}

.psColor
{
    color: #27FA81;
}

.roColor
{
    color: #FFBF00;
}

.depColor
{
    color: #F1C40F;
}



.deliveryColor
{
color: #008000;
}

.productName
{
    text-decoration: none;
    color: #3A3E3C;
}

.uoLabel
{
    color: #FF7F50;
}