

<!-- NAVBAR STARTING -->
  <nav class="navbar navbar-expand navbarFixed shadow-lg" style="background-color: white;">
    <a href="#" class="navbar-brand">
      <img src="../assets/Logo/qwwww.PNG" width="110" height="30" alt="">
    </a>

 
 
    <ul class="navbar-nav ml-auto" *ngIf="!tokenStorageService.isLoggedIn()" >
     
      <li class="nav-item"  >
        <a href class="nav-link text-dark" routerLink="/login" >Login</a>
      </li>
      <li class="nav-item"  >
        <a href class="nav-link text-dark" routerLink="/register">sign up</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto"  *ngIf="tokenStorageService.isLoggedIn()" >
     
      <li class="nav-item" >
        <a href class="nav-link text-dark" (click)="logout()">SignOut</a>
      </li>
    </ul>

    
    <!-- <li *ngIf="userName != null " class="dropdown text-dark">
      <a  class="dropdown-toggle nodecorate text-dark" data-toggle="dropdown" href="#">
      <span class="font-weight-bold"> Hello, {{userName}}</span>
      </a>
      <ul class="dropdown-menu "  role="menu">
        <li><a id="md" href="#">Profile</a></li>
        <li><a id="md" routerLink="/dashboard/userOrder">Order</a></li>
        <li><a id="md" routerLink="/">Home</a></li>
        <li><a id="md" routerLink="/dashboard">Dashboard</a></li>
      </ul>
    </li> -->

    
    <li *ngIf="userName != null " class=" form-inline my-lg-0 nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="font-weight-bold text-dark"> Hello, {{userName}}</span>
      </a>
      <div class="dropdown-menu p-1" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/"><i class="fa fa-home" style="color: #FF7F50;"> </i> Home</a>
        <a class="dropdown-item"routerLink="/dashboard"><i class="fa fa-tachometer" style="color: #DE3163;" aria-hidden="true"></i> Dashboard</a>
        <a class="dropdown-item" routerLink="/dashboard/user-profile"><i class="fa fa-user-circle"  style="color: #FFBF00;" aria-hidden="true"></i> My Profile</a>
        <a class="dropdown-item" routerLink="/dashboard/userOrder"> <i class="fa fa-tags" style="color: #6495ED;"></i>Your Order</a>
        
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href (click)="logout()"><i class="	fa fa-unlock-alt"></i> Logout</a>
      </div>
    </li>

    <li class="nav-item mr-5" >
      <a routerLink="cart" >
        <span  [matBadge]="badgeContent" matBadgeOverlap="false"  class=" cursor-pointer">
          <i class="fa fa-shopping-cart cart-color"> </i>
        </span>
      </a>
    </li>


  </nav>
  <!-- NAVBAR ENDING -->


  <ngx-ui-loader 
  bgsType="double-bounce"
  fgsColor="#6495ED">
</ngx-ui-loader>
<div ngxUiLoaderBlurred>
  
  <!-- <h1>HOME DATA</h1> -->
<router-outlet></router-outlet>
<!-- <h1>HOME DATA END !!</h1> -->

</div>







  <!--footer starts from here-->
<footer class="footer pt-5">

  <!-- <div class="text-center mt-2">
    <h2 class="text-light">Shipsy</h2>
  </div> -->
 
  <div class="container bottom_border">
    <hr class="text-light">
  <div class="row">
  <div class=" col-sm-4 col-md col-sm-4  col-12 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
  <!--headin5_amrc-->
  <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
  <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
  <p><i class="fa fa-phone"></i>  +91-9999878398  </p>
  <p><i class="fa fa fa-envelope"></i> info@example.com  </p>
  
  
  </div>
  
  
  <div class=" col-sm-4 col-md  col-6 col">
  <h5  class="headin5_amrc col_white_amrc pt2">Category</h5>
  <!--headin5_amrc-->
  <ul class="footer_ul_amrc">
  <li  *ngFor="let node of finalCategoryData; let i = index">
    <a href="node.finalCategoryName" [routerLink]="'/p/'+node.finalCategoryName">
      <!-- <img src="{{node.imageUrl}}" width="40"  height="30"  style="object-fit: cover;" alt=""> -->
      {{node.finalCategoryName}}
    </a>
  </li>
  </ul>
  <!--footer_ul_amrc ends here-->
  </div>
  
  
  <div class=" col-sm-4 col-md  col-6 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
  <!--headin5_amrc-->
  <ul class="footer_ul_amrc">
  <li><a href="/">Home</a></li>
  <li><a href=" ">Category</a></li>
  <li><a href=" ">Profile</a></li>
  <li><a href=" ">Products</a></li>
  <li><a href=" ">Discount</a></li>
  <li><a href=" ">Sale of the Day</a></li>
  </ul>
  <!--footer_ul_amrc ends here-->
  </div>
  
  
  <div class=" col-sm-4 col-md  col-12 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
  <!--headin5_amrc ends here-->
  
  <ul class="footer_ul2_amrc">
  <li><a href="#"><i class="fa fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
  <li><a href="#"><i class="fa fa-facebook-f fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
  <li><a href="#"><i class="fa fa-instagram fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
  </ul>
  <!--footer_ul2_amrc ends here-->
  </div>
  </div>
  </div>
  
  
  <div class="container">
  <ul class="foote_bottom_ul_amrc">
  <li><a href=" ">Home</a></li>
  <li><a href=" ">About</a></li>
  <li><a href=" ">Services</a></li>
  <li><a href=" ">Pricing</a></li>
  <li><a href=" ">Blog</a></li>
  <li><a href=" ">Contact</a></li>
  </ul>
  <!--foote_bottom_ul_amrc ends here-->
  <p class="text-center">Copyright @2017 | Designed With by <a href="#">Your Company Name</a></p>
  
  <ul class="social_footer_ul">
  <li><a href=" "><i class="fa fa-facebook-f"></i></a></li>
  <li><a href=" "><i class="fa fa-twitter"></i></a></li>
  <li><a href=" "><i class="fa fa-linkedin"></i></a></li>
  <li><a href=" "><i class="fa fa-instagram"></i></a></li>
  </ul>
  <!--social_footer_ul ends here-->
  </div>
  
  </footer>
  