ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
    padding: 5px;
}

.nodecorate
{
    text-decoration: none;
    color: white;
}

#md
{
    margin-left: 10px;
    color: rgb(11, 26, 226);
    text-decoration: none;
}

.cart-color
{
    color: #DE3163;
    font-size: 18px;
}

.example-spacer {
    flex: 1 1 auto;
  }
  
