<div class="container">

    <div class="row">

        <!-- FILTER START-->
        <div class="col-sm-3">
           <h1> FILTER [3] </h1>
        </div>
         <!-- FILTER END-->




            <!-- PRODUCT START -->
         <div class="col-sm-9">

            <h1>NINE [9] </h1>

             <div class="row pb-4">

               <div class="col-sm-4 mt-2" *ngFor="let data of productList; let i = index">
                   <div class="card mt-3 borderRadius8 p-2" style="max-width: 17rem;">
       
                       <div class="text-center">
                           <a  [routerLink]="'/pd/'+data.productName+'/'+data.productId">
                               <img class="card-img-top" style="border-radius: 8px;" 
                               [src]="data.thumbnailUrl" 
                               class="objectFit"
                               [alt]="data.productId" 
                               [title]="data.productId"
                               height="220px">
                          </a>
                       </div>
       
                      <a [routerLink]="'/pd/'+data.productName+'/'+data.productId">
                       <div class="card-img-overlay ">
                         <span class="imgOverlay ">
                           {{data.savePrice}}%
                         </span>
                       </div>
                      </a>
       
                         <div class="card-body p-2 text-center">
                           <a  class="aProductName" [routerLink]="'/pd/'+data.productName+'/'+data.productId">
                             <p>
                               {{data.productName}}
                             </p>
                           </a>
       
                             <p class="card-text text-center">
                                 <span>
                                    <span class="whitesmoke ">  M.R.P : </span>
                                   <i class="fa fa-rupee font-weight-bold"></i>
                                   <span class="sellp"> {{data.sellPrice}}  </span>
                                 </span>
       
                                 <span class="mx-1">
                                     <s>  <i class="fa fa-rupee" style="font-size: 12px;" ></i>
                                      <span class="mrpPrice">  {{data.mrpPrice}}</span>
                                    </s>
                                 </span>
                             </p>
                         </div>
                           
                         <!-- <div class="text-center">
                             <button  mat-raised-button class="adtcolor"
                               (click)="addToCart(data.productId,data.productName,data.thumbnailUrl,data.sellPrice)">
                               <i class="fa fa-shopping-cart"></i>
                               Add To Cart
                           </button>
                         </div> -->
       
                  </div>
       
               </div>
       
           </div>





         </div>
         <!-- PRODUCT END -->







    </div>

</div>