<div class="container">

    <div class="row">

        <!-- FILTER START-->
        <div class="col-sm-3">
           <h1> FILTER [3] </h1>
        </div>
         <!-- FILTER END-->




            <!-- PRODUCT START -->
         <div class="col-sm-9">

            <h1>NINE [9] </h1>

            <div>
                     <div  class="border-primary mt-3 row">     
           
                          <div  *ngFor="let data of productList; let i = index" class="col-md-4 mt-3 borderRadius10" >
           
                              <div class="card border-0 mt-3 ml-2" style="width: 14rem; min-height: 19rem;">
                                 <a [routerLink]="'/pd/'+data.productName+'/'+data.productId">
                                     <img class="card-img-top objectFit"  src="{{data.thumbnailUrl}}" style="width: auto;height: 200px;"  alt="Card image cap" >
                                  </a>
                                   <div class="card-body">
                                     <p class="card-text text-center">
                                                             {{data.productName}}  
                                       </p>
                                 </div>
                              </div>
           
                          </div>
                     </div>    
             </div>


         </div>
         <!-- PRODUCT END -->







    </div>

</div>