
<div class="container mt-5" style="max-width: 1280px; ">

     <div >
          <h3 class="text-center font-weight-bolder popularC">
               <span class=" px-2 py-2">POPULAR CATEGORY</span>
          </h3>
     </div>
    
          <div  class="border-primary row">    

               <div  *ngFor="let data of finalCategoryData; let i = index" class="col-md-2 mb-3 borderRadius10" >

                   <div class="card border-0 mt-3 ml-2 borderRadius10">
                      <a [routerLink]="'/p/'+data.finalCategoryName">
                          <img class="card-img-top objectFit borderFC"  src="{{data.imageUrl}}" style="height: 200px;" alt="Card image cap" >
                       </a>
                        <div class="card-body">
                          <p class="card-text text-center" >
                              <span class="fcn">
                                   {{data.finalCategoryName}} 
                               </span>                   
                            </p>
                      </div>
                   </div>

               </div>
          </div>      

</div>
