
<div class="bg-white ">

  <div class="container pt-5 pb-5 ">

    <div class="text-center">
      <span class="p-3 mb-5 borderRadius15 myBag" >
        <span class="font-weight-bold text-white" > 
         <i class="fa fa-shopping-bag text-white" aria-hidden="true"></i>
        
           <span class="mx-2 mbff">
              My Bag
              
           </span>
        </span>
       </span>
    </div>
      
      <hr>
  
  
      <!-- CART ITEMS  -->
      <div class="row mt-4">
  
          <div class="col-md-6">
                 
             <div *ngFor="let data of cartList; let i = index" class="mb-3 ">
                <div class="media border borderRadius8 p-2 " id="shadowMedia" >
                      <img class="mr-3 .image-fit p-3" src="{{data.url}}" height="180" width="160"  alt="Generic placeholder image">
                          <div class="media-body mt-4">
  
                                  <h4 class="mt-0">{{data.productName}}</h4>

                                  <div class="row">

                                      <div class="column mx-3">
                                        <span style="color: #E52B06;">Price : </span>
                                        <span> 
                                          <i class="fa fa-rupee text-dark"></i>
                                          {{data.productPrice}}
                                        </span>
                                      </div>

                                      <div class="column mx-3 borderSL">
                                        <span  style="color: #E52B06;" >Qty :</span>
                                        <span> {{data.productQuantity}}</span>
                                      </div>

                                      <div class="column mx-3">
                                        <span  style="color: #E52B06;" >Size:</span>
                                        <span> {{data.productSize}}</span>
                                      </div>

                                  </div>
                                  <div class="row mt-3">
  
                                    <div class="col-sm-6">
                                        <div class="form-row">
                                            <div class="col-auto">
                                              <!-- <label class="mr-sm-2" for="inlineFormCustomSelect">Qty</label> -->
                                                <select  (change)="increaseProductQuantity($event,data.productId)" 
                                                        style="width: 160px;" class="custom-select">
                                                  <option selected disabled>Quantity</option>
                                                  <option value="1">1</option>
                                                  <option value="2">2</option>
                                                  <option value="3">3</option>
                                                  <option value="4">4</option>
                                                  <option value="5">5</option>
                                                  <option value="6">6</option>
                                                  <option value="7">7</option>
                                                  <option value="8">8</option>
                                                  <option value="9">9</option>
                                                  <option value="10">10</option>

                                                </select>
                                            </div>
                                          </div>
                                    </div>
  
                                      <div class="col-sm-6">
                                          <button class="cartButton text-white"
                                                  (click)="removeItemFromCart(data.productId)"
                                                  mat-raised-button style="background-color: #CB4335;">
                                                  REMOVE
                                          </button>
                                      </div>
  
                                </div>
                </div>
             </div>
  
          </div>
        </div>
  
  
          <div class="col-md-6">
             <div class="card ">
          
              <div class="card-header font-weight-bold">
                  Total Price
                </div>
  
              <div class="card-body" id="shadowMedia">
  
                 <div class="row">
  
                      <div class="col-sm-6"> Total MRP (Incl. of taxes) </div>
                      <div class="col-sm-6 "> <h4  >{{totalMrp}}</h4> </div>
  
                      <div class="col-sm-6"> Delivery Fees </div>
                      <div class="col-sm-6 text-success "> <h4>Free</h4> </div>
  
                      <button class="cartButton" (click)="checkOut()"
                              mat-raised-button color="primary" style="background-color: #2E86C1;">
                              Checkout
                      </button>
  
                 </div>
                  
              </div>
            </div>
  
          </div>
  
      </div>
      <!-- CART ITEMS  -->
  
  
  
  
  </div>



<!-- 
  <div class="row">
    <div class="col-sm-6">
      <table class="table table-sm table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Name</th>
            <th scope="col">qty</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>
            <th scope="col">removeItem</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of cartList; let i = index">
            <th scope="row">1</th>
            <td>
              <img src="{{data.url}}" height="120" width="120" alt="">
            </td>
            <td>{{data.productName}}</td>
            <td>
              {{data.productQuantity}}
              <div class="form-row">
                <div class="col-auto">
                   <label class="mr-sm-2" for="inlineFormCustomSelect">Qty</label> 
                    <select  (change)="increaseProductQuantity($event,data.productId)" 
                            style="width: 160px;" class="custom-select">
                      <option selected disabled>Choose...</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                </div>
              </div>
            </td>
            <td>{{data.productPrice}}</td>
            <td>{{data.productSize}}</td>
            <td>
              <button class="cartButton"
              (click)="removeItemFromCart(data.productId)"
              mat-raised-button style="background-color: #6495ED;">
              REMOVE
             </button>
            </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6"></div>
  </div> -->



</div>