<div class="container mt-4">

    <div class="bg-light">
        <h2 class="ml-3">My Bag </h2>
    </div>



    <!-- CART ITEMS  -->
    <div class="row">

        <div class="col-md-6">
               
           <div>
              <div class="media border borderRadius8 mb-4 p-2" *ngFor="let data of cartList; let i = index" >
                    <img class="mr-3 .image-fit p-3" src="{{data.url}}" height="180" width="200"  alt="Generic placeholder image">
                        <div class="media-body mt-4">

                                <h4 class="mt-0">{{data.productName}}</h4>
                                <h2>
                                    <i class="fa fa-rupee" style="font-size:18px">
                                    </i> {{data.productPrice}}
                                </h2>
                                <p>{{data.productQuantity}}</p>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="cartButton"
                                                (click)="removeItemFromCart(data.productId)"
                                                mat-raised-button color="primary">
                                                REMOVE
                                        </button>
                                    </div>
                                </div>

                        </div>
              </div>
           </div>

        </div>


        <div class="col-md-6">
           <div class="card ">
        
            <div class="card-header font-weight-bold">
                Total Price
              </div>

            <div class="card-body">

               <div class="row">

                    <div class="col-sm-6"> Total MRP (Incl. of taxes) </div>
                    <div class="col-sm-6 "> <h4  >{{totalMrp}}</h4> </div>

                    <div class="col-sm-6"> Delivery Fees </div>
                    <div class="col-sm-6 text-success "> <h4>Free</h4> </div>

                    <button class="cartButton" (click)="checkOut()"
                     mat-raised-button color="primary" style="background-color: #239B56;">
                    PROCCED TO BUYING
            </button>

               </div>
                
            </div>
          </div>

        </div>

    </div>
    <!-- CART ITEMS  -->




</div>