<div class="bg-white">

    <div class="container" style="padding-top: 100px;padding-bottom: 200px;" >


        <div class="row">

            <div class="col-sm-6">

                <div class="card border border-0" style="max-width: 25rem;">
                    <img src="../../../../assets/form-images/forget-password.svg" alt="">
                </div>

            </div>

            <div class="col-sm-6">

                <div class="card p-3 borderRadius10"  >

                    <h3 class="text-center text-primary">
                        <i class="fa fa-key" aria-hidden="true"></i>
                        Forget Password ?
                    </h3>

                    <!-- FORM START -->
                    <div *ngIf="emailValidator == 'Y'">
                        <form  (ngSubmit)="checkEmailForgetPassword()">
                            <div class="form-group">
                              <label for="exampleInputEmail1 mr-2">Email address</label>
                              <input type="email" 
                                    class="form-control" 
                                    name="email"
                                    [(ngModel)]="emailfp.email"
                                    id="exampleInputEmail1"
                                    aria-describedby="emailHelp" 
                                    placeholder="Enter email">
                            </div>
                           <div class="text-center">
                            <button mat-raised-button color="primary">Submit</button>
                           </div>
                          </form>
                    </div>
                   
                    <!-- FORM ENDING -->

                     <!-- RESET PASSWORD FORM SATRT -->
                     <div *ngIf="resetPassword == 'Y'">
                        <form  (ngSubmit)=" resetPasswordWithOtp()" validate>
                            <div class="form-group">
                                <label for="exampleInputEmail1 mr-2">Enter OTP</label>
                                <input type="password" 
                                        class="form-control" 
                                        name="otp"
                                        [(ngModel)]="changePasswordForm.otp"
                                        required
                                        minlength="6"
                                        aria-describedby="emailHelp" 
                                        placeholder="otp">
                              </div>

                              <div class="form-group">
                                <label for="exampleInputEmail1 mr-2">Enter Password</label>
                                <input type="password" 
                                        class="form-control" 
                                        name="password"
                                        [(ngModel)]="changePasswordForm.password"
                                        required
                                        minlength="6"
                                        maxlength="40"
                                        aria-describedby="emailHelp" 
                                        placeholder="Password">
                              </div>

                              <div class="form-group">
                                <label for="exampleInputEmail1 mr-2">Conform Password</label>
                                <input type="password" 
                                        class="form-control" 
                                        name="conformPassword"
                                        [(ngModel)]="changePasswordForm.conformPassword"
                                        required
                                        minlength="6"
                                        maxlength="40"
                                        aria-describedby="emailHelp" 
                                        placeholder="conform Password">
                              </div>
                                <div class="text-center">
                                    <button type="submit" mat-raised-button color="accent">Change Password</button>
                                </div>
                          </form>
                     </div>
                    <!-- RESET PASSWORD FORM ENDING-->



                    <!-- PROGRESS-BAR -->
                    <div class="pB mt-2"  *ngIf="progressBar.dynamicValue" >
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>


                    <div *ngIf="otpSentSuccess == 'Y' " class="alert alert-warning mt-2" role="alert">
                        OTP SENT TO YOUR EMAIL-ID  : {{emailfp.email}}
                        <br>
                        <span class="font-weight-bold">
                            NOTE : OTP EXPIRE IN 2 MINUTES
                        </span>
                    </div>

                    <div *ngIf="enterValidOtp == 'Y' " class="alert alert-danger mt-2" role="alert">
                        <p>Please Enter Valid OTP</p>
                    </div>


                    <div *ngIf="passwordUpdateSuccessfully == 'Y' " class="alert alert-success mt-2" role="alert">
                        <div class="text-center">

                            <img src="../../../../assets/Home-images/ck1.png" height="50" width="50" alt="">
                            <h3> Password Update Success...</h3>
                            <button routerLink="/login"  mat-raised-button color="primary">Login</button>
                            <button routerLink="/" class="ml-3" mat-raised-button color="accent">Home</button>
                        </div>
                    </div>

                </div>
                
            </div>

        </div>

    </div>
    

</div>