<!-- PROGRESS BAR -->
<div  class="pB"  *ngIf="progressBar.dynamicValue" >
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
   </div>
   <!-- PROGRESS BAR  !-->

   <!-- <div  #target> -->

  <div style="background-color: white;">

   

<div class="container pt-5" style="background-color: white;">

    <div class="row">

        <div class="col-md-1">
            <div class="card mb-1" *ngFor="let fileData of productFiles; let i = index" >
                <div (click)="changFileUrl(fileData.fileUrl)" class="cursor-pointer">
                    <img class="card-img-top" src="{{fileData.fileUrl}}" height="80" width="auto" alt="Card image cap">
                </div>
            </div>
        </div>


        <div class="col-md-5">
            <div class="card object-fit" style="width: 26rem;">
                <img class="card-img-top" src="{{thumbnailUrl}}" alt="Card image cap">

                <a [routerLink]="'/pd/'+node.productName+'/'+node.productId">
                  <div class="card-img-overlay ">
                    <span class="imgOverlay ">
                      {{node.savePrice}}%
                    </span>
                  </div>
                 </a>
              </div>
        </div>



        <div class="col-md-4">
           <div class="card border-0 mt-2" >

            <!-- PRODUCT NAME -->
            <h1 class="pdname">{{node.productName}}</h1>

                <p>
                    <span class="prColor"> Price : </span> 
                     <i class="fa fa-inr" style="font-size:13px"></i>
                    <span style="font-size: 18px;"> {{node.sellPrice}}</span>
                    <span class="mx-1">(Inclusive of all taxes)</span>
                </p>


                <!-- IF QUANTITY ZERO OR NULL -->
              <div *ngIf=" node.quantity == 0 || node.quantity == null " >
                <div class="alert alert alert-warning" role="alert">
                    Product Finish !!
                  </div>
              </div>

               <!-- IF QUANTITY 10 (TEN)-->
              <div *ngIf="10 > node.quantity && node.quantity != 0" >
                <p class="text-success fontsize11" >In Stock</p>
                <div class="alert alert alert-warning" role="alert">
                    Hurry ! Few Orders are Left
                  </div>

                   <table class="mb-3 mt-2">
                  <tr *ngIf="productColorSizeSelector == null ">
                    <th *ngFor="let size of node.productSizeSetForProductForms; let i = index">
                      <button 
                        (click)="colorSelector(size.productSize)"
                        class="btn btn-light bg-white p-3 px-4 mr-2 border border-1  ">
                        {{size.productSize}}
                    </button>
                    </th>
                  </tr>

                  <tr *ngIf="productColorSizeSelector != null ">
                    <th *ngFor="let size of node.productSizeSetForProductForms; let i = index">
                      <button *ngIf="size.productSize == productColorSizeSelector"
                        (click)="colorSelector(size.productSize)"
                        class="btn p-3 px-4 mr-2 border border-1 bg-dark text-white">
                        {{size.productSize}}
                    </button>
                    <button *ngIf="size.productSize != productColorSizeSelector"
                        (click)="colorSelector(size.productSize)"
                        class="btn p-3 px-4 mr-2 border border-1">
                        {{size.productSize}}
                    </button>
                    </th>
                  </tr>
               </table>

                <button type="button" 
                        class="btn btn-warning borderRadius20 btn-block mt-1"  
                        (click)="addToCart(node.productId,node.productName,node.thumbnailUrl,node.sellPrice)">
                        Add To Cart
               </button> 
              </div>

               <!-- IF QUANTITY GREATER THAN 10 (Ten) -->
              <div *ngIf="node.quantity > 10" >

                <table class="mb-3 mt-2">
                  <tr *ngIf="productColorSizeSelector == null ">
                    <th *ngFor="let size of node.productSizeSetForProductForms; let i = index">
                      <button 
                        (click)="colorSelector(size.productSize)"
                        class="btn btn-light bg-white p-3 px-4 mr-2 border border-1  ">
                        {{size.productSize}}
                    </button>
                    </th>
                  </tr>

                  <tr *ngIf="productColorSizeSelector != null ">
                    <th *ngFor="let size of node.productSizeSetForProductForms; let i = index">
                      <button *ngIf="size.productSize == productColorSizeSelector"
                        (click)="colorSelector(size.productSize)"
                        class="btn p-3 px-4 mr-2 border border-1 bg-dark text-white">
                        {{size.productSize}}
                    </button>
                    <button *ngIf="size.productSize != productColorSizeSelector"
                        (click)="colorSelector(size.productSize)"
                        class="btn p-3 px-4 mr-2 border border-1">
                        {{size.productSize}}
                    </button>
                    </th>
                  </tr>
               </table>


                <button type="button" 
                        class="btn btn-warning borderRadius20 btn-block"  
                        (click)="addToCart(node.productId,node.productName,node.thumbnailUrl,node.sellPrice)">
                        Add To Cart
                </button> 

               

              </div>

           </div>
        </div>

        <div class="col-md-2">
            <!-- <p>ROW-3</p> -->
        </div>
    
    </div>

</div>
<!-- CONTAINER FINISH -->


    <!-- MORE PRODUCT SATRTING-->
<div class="container pb-5 mt-5" >

    <h3 class="text-center text-success ">BRANDED PRODUCTS</h3>

    <div class="row">

        <div class="col-sm-3 mt-5"  *ngFor="let node of moreProduct; let i = index" >
            <mat-card class="example-card ">

               <!-- <a [routerLink]="'/pd/'+node.productName+'/'+node.productId"> -->
                <a 
                (click)="getProductDetailsByIdClicking(node.productId)" 
                 [routerLink]="'/pd/'+node.productName+'/'+node.productId" >
                 <img mat-card-image src="{{node.thumbnailUrl}}" height="210" class="objectFit" alt="Photo of a Shiba Inu">
               </a>

               <a 
               (click)="getProductDetailsByIdClicking(node.productId)"
               [routerLink]="'/pd/'+node.productName+'/'+node.productId" 
                >
                <div class="card-img-overlay ">
                  <span class="imgOverlay ">
                    {{node.savePrice}}%
                  </span>
                </div>
               </a>

                <mat-card-actions >

                    <div class="card-body p-2 text-center ">
                        <a  class="aProductName" [routerLink]="'/pd/'+node.productName+'/'+node.productId">
                          <p>
                            {{node.productName}}
                          </p>
                        </a>

                        <p class="card-text text-center">
                            <span>
                               <span class="whitesmoke ">  M.R.P : </span>
                              <i class="fa fa-rupee font-weight-bold"></i>
                              <span class="sellp"> {{node.sellPrice}}  </span>
                            </span>
  
                            <span class="mx-1">
                                <s>  <i class="fa fa-rupee" style="font-size: 12px;" ></i>
                                 <span class="mrpPrice">  {{node.mrpPrice}}</span>
                               </s>
                            </span>
                        </p>

                    </div>

                    <!-- <div class="text-center">
                        <button 
                         mat-raised-button class="adtcolor"  
                            (click)="addToCart(node.productId,node.productName,node.thumbnailUrl,node.sellPrice)">
                        <i class="fa fa-shopping-cart"></i>
                        Add To Cart
                    </button>
                    </div> -->

                </mat-card-actions>

            </mat-card>
              
        </div>

    </div>
</div>

</div>
<!-- 
</div> -->
    <!-- MORE PRODUCT ENDING !!-->







<!-- 
<div  *ngFor="let fileData of cartListNew; let i = index" >

    <p>
        {{fileData.productName}}
        {{fileData.productId}}
        {{fileData.productQuantity}}
    </p>

</div> -->