<!-- PROGRESS BAR -->
<div  class="pB"  *ngIf="progressBar.dynamicValue" >
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
   </div>
   <!-- PROGRESS BAR  !-->

   <div  #target  class="pt-5">

  

<div class="container" style="max-width: 1320px;">

    <div class="row">

        <div class="col-md-1">
            <div class="card mb-1" *ngFor="let fileData of productFiles; let i = index" style="width: 4rem;">
                <div (click)="changFileUrl(fileData.fileUrl)" class="cursor-pointer">
                    <img class="card-img-top" src="{{fileData.fileUrl}}" alt="Card image cap">
                </div>
              </div>
        </div>


        <div class="col-md-5">
            <div class="card object-fit" style="width: 22rem; height: 30rem;">
                <img class="card-img-top" src="{{thumbnailUrl}}" alt="Card image cap">
              </div>
        </div>



        <div class="col-md-4">
           <div class="card border-0 mt-2" >
            <h1>{{node.productName}}</h1>

            <hr>

                <h2>
                     <i class="fa fa-inr" style="font-size:13px"></i>
                     {{node.sellPrice}}
               </h2>

               <button type="button" class="btn btn-primary mb-2" (click)="addToCart(node.productId,node.productName,node.thumbnailUrl,node.sellPrice)">Add To Cart</button>
               <button type="button" class="btn btn-warning" >Buy Now</button>

           </div>
        </div>

        <div class="col-md-2">
            <p>ROW-3</p>
        </div>
    
    </div>

</div>
<!-- CONTAINER FINISH -->


    <!-- MORE PRODUCT SATRTING-->
<div class="container">

    <h3 class="text-center text-success ">BRANDED PRODUCTS</h3>

    <div class="row mt-5">

        <div class="col-sm-2"  *ngFor="let node of moreProduct; let i = index" >
            <mat-card class="example-card">

               <!-- <a [routerLink]="'/pd/'+node.productName+'/'+node.productId"> -->
                <a (click)="getProductDetailsByIdClicking(node.productId)" (click)="scroll(target)" [routerLink]="'/pd/'+node.productName+'/'+node.productId" >
                 <img mat-card-image src="{{node.thumbnailUrl}}" height="210" class="objectFit" alt="Photo of a Shiba Inu">
               </a>

                <mat-card-actions>
                    <button mat-raised-button color="primary"  (click)="addToCart(node.productId,node.productName,node.thumbnailUrl,node.sellPrice)">
                        Add To Cart
                    </button>
                </mat-card-actions>

            </mat-card>
              
        </div>

    </div>
</div>


</div>
    <!-- MORE PRODUCT ENDING !!-->







<!-- 
<div  *ngFor="let fileData of cartListNew; let i = index" >

    <p>
        {{fileData.productName}}
        {{fileData.productId}}
        {{fileData.productQuantity}}
    </p>

</div> -->