
  <div class="container mt-5">
   <h3 class="text-center font-weight-bolder mt-2 mb-2">LATEST BRAND</h3>

   <owl-carousel-o [options]="customOptionsProduct">
        <ng-container *ngFor="let data of productfinalCategoryData; let i = index">
          <ng-template carouselSlide [id]="data.productId">

             <div class="card mt-3" style="width: 14rem; height: 18rem;">
                  <a href="">
                       <img class="card-img-top" [src]="data.thumbnailUrl" class="objectFit"
                       [alt]="data.productId" [title]="data.productId">
                  </a>
                  <div class="card-body">
                  <p class="card-text text-center" style="font-size: 18px;font-weight: bolder;font-family: Georgia, 'Times New Roman', Times, serif;">
                      Rs {{data.sellPrice}}  
                  </p>
                  </div>
             </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
</div>      

  <div class="container mb-5 p-5">
   <app-testing></app-testing>
  </div>





  
  